.app-container {
  display: flex;
  padding: 30px;
}

.menu-item-list {
  margin-left: 20px;
}

.menu-item-list h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.menu-item-list table {
  width: 100%;
  border-collapse: collapse;
}

.menu-item-list th, .menu-item-list td {
  padding: 10px;
  border: 1px solid #ccc;
}

.menu-item-list th {
  background-color: #f5f5f5;
  font-weight: bold;
  text-align: left;
}

.menu-item-list tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}

/* src/App.css */

.category-list {
  width: 30%; /* Adjust as needed */
  margin-right: 20px;
}

.category-list h2 {
  font-size: 24px;
  font-weight: bold;
}

.category-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category-list ul li {
  margin-bottom: 10px;
}

.category-list ul li span {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.category-list ul li span:hover {
  color: #007bff; /* Change color on hover */
  text-decoration: underline;
}
